@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}
/*Big Screens*/
@media (min-width:900px) {
    #hero{
        height: 100vh;
        background-color: burlywood;
    }
    #hero-text{
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .news{
        margin: 20px 0;
    }
    .news-box{
        border: 1px solid black;
        border-radius: 20px;
        width: 60vw;
        padding: 20px;
        margin: auto;
        margin-left: 20px;
    }
    .aside-news-box{
        border: 1px solid black;
        border-radius: 15px;
        width: 90%;
        padding: 10px;
        margin: auto;
    }
    
    .news-icon{
        width: 90px;
        height: 90px;
    }
    .display-flex{
        display: flex;
    }
    .aside-box{
        border: 1px solid black;
        padding: 20px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .aside-header{
        margin-top: 10px;
    }
}


/*mobile*/
@media (max-width:450px) {
    #hero{
        height: 100vh;
        background-color: burlywood;
    }
    #hero-text{
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .news{
        margin: 20px 0;
    }
    .news-box{
        border: 1px solid black;
        border-radius: 20px;
        width: 90%;
        padding: 20px;
        margin: auto;
    }
    .news-item{
        display: flex;
        justify-content: space-around;
    }
    .news-icon{
        width: 70px;
        height: 70px;
    }
    .news-text{
        padding-left: 12px;
    }

    aside{
        display: none;
    }
}


/*Tablets,Ipads,etc.*/
@media (max-width:850px) {
    #hero{
        height: 100vh;
        background-color: burlywood;
    }
    #hero-text{
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .news{
        margin: 20px 0;
    }
    .news-box{
        border: 1px solid black;
        border-radius: 20px;
        width: 90%;
        padding: 20px;
        margin: auto;
    }
    .news-item{
        display: flex;
        justify-content: space-around;
    }
    .news-icon{
        width: 90px;
        height: 90px;
    }
    .news-text{
        padding-left: 5px;
    }

    aside{
        display: none;
    }
}



/*Utilities*/
.text-md{
    font-size: medium;
}
.text-xlg{
    font-size: x-large;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
form input{
    height: 30px;
}
button{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}